<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<h1>My Pokémon Team</h1>
<% @pics = ['scizor.png', 'suicune.png','garchomp.png'] %>
<%= render 'static_pages/thumbnail_row' %>
